body {
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100vw;
  height: 100vh;
  background: rgb(89, 133, 255);
  background: linear-gradient(
    308deg,
    rgba(89, 133, 255, 1) 6%,
    rgba(84, 237, 245, 1) 37%,
    rgba(255, 229, 0, 1) 66%,
    rgba(255, 0, 97, 1) 100%
  );
}

